<div class="container">
  <div class="input-wrapper">
    <label for="search">Search </label>
    <input
      type="text"
      [(ngModel)]="searchName"
      (keyup)="onSearchChanges($event)"
    />
    <button class="reset-button" (click)="onResetBalance($event)">
      Reset Balance
    </button>
  </div>

  <div class="table-wrapper">
    <p-table [value]="users">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Registered Date</th>
          <th>Email</th>
          <th>Balance</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{ row.name }}</td>
          <td>{{ row.age }}</td>
          <td>{{ row.registered | date: "dd-mm-yyyy hh:mm:ss" }}</td>
          <td>{{ row.email }}</td>
          <td>{{ row.balanceNum | currency: "GBP" }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
